@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Variables for this website */
:root {
   --primary: rgb(123, 75, 45);
   --light: rgb(255, 255, 255);
   --dark: rgb(54, 48, 51);
   --muted: rgb(165, 165, 165);
}
/* CSS RESET */
* {
margin: 0;
padding: 0;
}

body {
font-family: roboto, arial, sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", serif;
    margin-bottom: 0.5rem;
}
/************** Colours ***************/
.bg-primary {background-color: var(--primary)}
.bg-light {background-color: var(--light)}
.bg-dark {background-color: var(--dark)}
.bg-muted {background-color: var(--muted)}

.bg-primary {color: var(--primary)}
.bg-light {color: var(--light)}
.bg-dark {color: var(--dark)}
.bg-muted {color: var(--muted)}
/************** Swatches ***************/
.swatches {
    display: flex; 
    gap: 1rem;
}


.swatch .swatch-value {
aspect-ratio: 1/1;
    width: 4rem;
border-radius: 100%;
box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(54, 48, 41, 0.2);
}

.swatch .swatch-names {
    text-align: center;
}